apiVersion: v1
kind: Namespace
metadata:
  name: pihole
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unbound-config
  namespace: pihole
data:
  unbound.conf: |
    server:
        verbosity: 1
        log-queries: no
        interface: 127.0.0.1
        port: 5335
        do-ip4: yes
        do-ip6: yes
        do-udp: yes
        do-tcp: yes
        num-threads: 2
        access-control: 127.0.0.1/32 allow
        access-control: 10.0.0.0/8 allow
        access-control: 172.16.0.0/12 allow
        access-control: 192.168.0.0/16 allow

    # This block MUST be at the top level, NOT inside 'server'
    remote-control:
      control-enable: yes
      control-interface: 127.0.0.1
      control-use-cert: no
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-custom-dnsmasq
  namespace: pihole
data:
  02-custom.conf: |
    domain-needed
    bogus-priv
    no-resolv
    server=127.0.0.1#5335
