name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *" # run daily at 04:30 UTC

permissions: {}

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    outputs:
      pr: ${{ steps.pr.outputs.pull-request-url }}
      branch: ${{ steps.pr.outputs.pull-request-branch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Determinate Nix 
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-args: --determinate

      - name: Update Lockfile
        id: pr
        uses: DeterminateSystems/update-flake-lock@main
        with:
          commit-msg: "flake.lock: update all inputs"
          pr-title: "flake.lock: update all inputs"
          branch: update-flake-inputs
          pr-body: |
            ```
            {{ env.GIT_COMMIT_MESSAGE }}
            ```

  check:
    name: Check Flake
    needs: update-lockfile

    uses: ./.github/workflows/check.yml  # References the updated check.yml
    with:
      ref: ${{ needs.update-lockfile.outputs.branch }}

  check-lock:
    name: Check Lock
    needs: update-lockfile

    uses: ./.github/workflows/check-lock.yml  # References the updated check-lock.yml
    with:
      ref: ${{ needs.update-lockfile.outputs.branch }}

  merge:
    name: Merge Pull Request
    needs: [update-lockfile, check, check-lock]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Merge Pull Request
        run: gh pr merge --rebase --auto --delete-branch "$PR"
        env:
          GH_TOKEN: ${{ github.token }}
          PR: ${{ needs.update-lockfile.outputs.pr }}